<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Musica.com</title>

    <link rel="stylesheet" href="/estilos/css.css">


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/solid.css" integrity="sha384-VxweGom9fDoUf7YfLTHgO0r70LVNHP5+Oi8dcR4hbEjS8UnpRtrwTx7LpHq/MWLI"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/regular.css" integrity="sha384-RGDxJbFQcd3/Rei8rYb+3xO3YREd0abxm8WfLkYj7j4HHo5ZVuNUGVx8H8GbpFTQ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/brands.css" integrity="sha384-Pln/erVatVEIIVh7sfyudOXs5oajCSHg7l5e2Me02e3TklmDuKEhQ8resTIwyI+w"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/fontawesome.css" integrity="sha384-rnr8fdrJ6oj4zli02To2U/e6t1qG8dvJ8yNZZPsKHcU7wFK3MGilejY5R/cUc5kf"
        crossorigin="anonymous">


</head>

<body>
    <nav>
        <div class="logo">
            <a href="/">
                <img src="/imagenes/logotipo.png">
            </a>
        </div>

        <div class="buscador">
            <input type="text" placeholder="¿Que estas buscando hoy?">
        </div>

        <div class="ingresar">
            <a href="">Ingresar</a>
        </div>

        <div class="carrito">
            <a href="">Carrito</a>
        </div>
    </nav>

    <section class="contenido-index">

        <section class="contenido">
            <article class="publicidad">
                <h2>Adquiere lo último de</h2>
                <img src="/imagenes/logoFoo.png" alt="" srcset="">
            </article>
            <article class="banner">
            </article>
        </section>

        <section class="menu">
            <article>
                <div>
                    <a href="">Albumes</a>
                </div>
                <div>
                    <a href="">Nosotros</a>
                </div>
                <div>
                    <a href="">Ayuda</a>
                </div>
                <div>
                    <a href="">Más info</a>
                </div>
            </article>
        </section>

        <section class="productos">

            <section class="filtros">
                <article class="datos">
                    <div>
                        <h3>Ingresa tus datos para enterarte de todo</h3>
                    </div>

                    <div>
                        <input type="text" placeholder="Ingrese su correo">
                    </div>
                    <div>
                        <button>Enviar</button>
                    </div>
                </article>

                <article class="filtroPrecio">
                    <div>
                        <h3>Precio</h3>
                    </div>
                    <input type="range" min="0" max="50000" value="0" class="slider" id="desde">
                    <input type="range" min="50000" max="100000" value="100000" class="slider" id="hasta">

                    <div class="precios">
                        <p>Desde:
                            <br/>
                            <span id="desdeValor"></span>
                        </p>
                        <p>Hasta:
                            <br/>
                            <span id="hastaValor"></span>
                        </p>
                    </div>
                    <button class="buscar">Buscar</button>
                    <button class="borrar"> Borrar</button>

                </article>
            </section>

            <section class="canciones">
                {{#each canciones}}
                <article class="canc"  data-id="{{this._id}}">
                    <a href="/productos/{{_id}}">
                        <div>
                            <h1>{{album}}</h1>
                        </div>
                        <div>
                            <h2>{{autor}}</h2>
                        </div>
                        <div>
                            <img src="{{imagen}}">
                        </div>
                        <div>
                            <audio src="{{audio}}" controls></audio>
                        </div>
                    </a>
                    <div>
                        <button class="agregar"> Agregar a la lista de Compras</button>
                    </div>
                </article>
                {{/each}}
            </section>

        </section>
    </section>
    <footer>
        <section>

            <section>
                <article class="logoFooter">
                    <div>
                        <img src="/imagenes/logoFoo.png">
                    </div>
                </article>
            </section>
            <section class="informacion">
                <article>
                    <div>Políticas de privacidad</div>
                    <div>Distribuidores</div>
                    <div>Copyright</div>
                </article>
            </section>

            <section class="informacionGeneral">
                <section>
                    <article>
                        <p>Formas de pago</p>
                    </article>
                    <article class="formasDePago">
                        <div>
                            <i class="fab fa-cc-mastercard"></i>
                        </div>
                        <div>
                            <i class="fab fa-cc-visa"></i>
                        </div>
                        <div>
                            <i class="fab fa-paypal"></i>
                        </div>
                    </article>
                </section>

                <section>
                    <article>
                        <p>Redes Sociales</p>
                    </article>
                    <article class="redesSociales">
                        <div>
                            <i class="fab fa-facebook-f"></i>
                        </div>
                        <div>
                            <i class="fab fa-instagram"></i>
                        </div>
                        <div>
                            <i class="fab fa-twitter"></i>
                        </div>
                        <div>
                            <i class="fab fa-youtube"></i>
                        </div>
                    </article>
                </section>
            </section>
        </section>

    </footer>


<script src="/js/banner.js"></script>
<script src="/js/filtros.js"></script>
<script src="/js/cliente.js"></script>
<script src="/js/productos.js"></script>
</body>

</html>